b,
strong {
  @apply font-semibold;
}

.shadow {
  @apply shadow-[0_12px_24px_-6px_rgba(45,67,121,0.1)]
}

.lemon {
  color: #f8ea65;
}
.lilac {
  color: #e2b8e0;
}
.ink {
  color: #333333;
}
.egg-shell {
  color: #f6f5f0;
}
.cloud {
  color: #dae0f2;
}
.lemon-bg {
  background-color: #f8ea65;
}
.lilac-bg {
  background-color: #e2b8e0;
}
.ink-bg {
  background-color: #333333;
}
.egg-shell-bg {
  background-color: #f6f5f0;
}
.cloud-bg {
  background-color: #dae0f2;
}